@model IEnumerable<EatToday2.Restaurant>

@*@model IEnumerable<EatToday2.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div>


    @foreach (var item in Model)
    {
        <div>
            @item.RestID
        </div>
        <div>
            @item.RestName
        </div>

        <hr>
    }
</div>*@




<div class="row">

</div>